/*
	Paleta de colores:

	#FAE8D6
		rgba(250,232,214,1);
	#D3B59E
		rgba(211,181,158,1);
	#C67B48
		rgba(198,123,72,1);
	#AB9C89
		rgba(171,156,137,1);
	#CBD9B7
		rgba(203,217,183,1);
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fae8d6; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield; }

b {
  color: #c67b48; }

b {
  animation-name: titulo;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-delay: 1s; }

@keyframes titulo {
  0% {
    color: #c67b48; }
  50% {
    color: black; }
  100% {
    color: #c67b48; } }

.navbar {
  background-color: #c67b48;
  height: 5rem;
  font-size: 2rem;
  font-family: inter;
  position: fixed;
  width: 100%;
  top: 0; }
  .navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%; }
    .navbar ul li a {
      opacity: 100%;
      text-decoration: none;
      color: white; }
      .navbar ul li a:hover {
        text-shadow: 0px 0px 10px white; }

.portada {
  width: 100%;
  height: 40.625rem;
  background-image: url("../assets/portada.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }
  .portada p {
    font-size: 8rem;
    font-family: 'David Libre';
    color: #ab9c89;
    margin-right: 10%; }

.contenedor-info {
  background-color: rgba(203, 217, 183, 0.42);
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contenedor-info h1 {
    font-size: 8rem;
    font-family: 'Island Moments';
    padding: .625rem; }
  .contenedor-info h2 {
    font-size: 3rem;
    font-family: 'David Libre';
    width: 80%;
    margin: 2.5rem; }
  .contenedor-info img {
    width: 100%;
    height: 25rem;
    object-fit: cover; }

.contenedor-info-2 {
  background-color: #d3b59e;
  height: 31.25rem; }
  .contenedor-info-2 div {
    width: 100%;
    height: 100%;
    display: flex; }
    .contenedor-info-2 div h2 {
      font-size: 4rem;
      width: 60%;
      height: 100%;
      padding: 2.5rem; }
    .contenedor-info-2 div img {
      width: 40%;
      height: 100%; }

.contenedor-imgs {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }
  .contenedor-imgs img {
    width: 15.625rem;
    height: 15.625rem;
    border-radius: 50%; }
    .contenedor-imgs img:hover {
      transform: scale(1.3);
      border-radius: 0%;
      transition: border-radius 2s ease 2ms, transform 2s cubic-bezier(0.17, 1.09, 0.94, -0.45) 2ms; }

.contenedor-mates {
  margin-top: 5rem;
  background-color: #cbd9b7;
  height: 20.375rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .contenedor-mates h2 {
    width: 60%;
    height: 50%;
    font-size: 8rem;
    font-family: 'Island Moments';
    text-align: center; }
  .contenedor-mates img {
    width: 40%;
    height: 100%; }

.cards {
  height: 71.875rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.5rem;
  padding: 5rem; }

/* Tablas */
.contenedor-titulo-tablas {
  margin-top: 5rem;
  background-color: #cbd9b7;
  height: 20.375rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .contenedor-titulo-tablas h2 {
    font-family: 'Island Moments';
    font-size: 8rem;
    text-align: center;
    height: 50%; }

.tablas-info {
  height: 35rem;
  background-color: #d3b59e; }
  .tablas-info div {
    height: 100%;
    display: flex; }
    .tablas-info div img {
      width: 35%;
      height: 100%; }
    .tablas-info div p {
      width: 65%;
      height: 100%;
      font-family: 'David Libre';
      font-size: 4rem;
      padding: 8.5rem; }

.galeria {
  padding: 5rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .galeria img {
    width: 21.875rem;
    height: 21.875rem;
    border-radius: 5%; }
  .galeria button {
    width: 6rem;
    height: 6rem;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit; }
    .galeria button img {
      width: 100%;
      height: 100%; }

.tabla-1, .tabla-2, .tabla-3 {
  animation-name: test;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 9s;
  animation-delay: 0s; }

@keyframes test {
  0% {
    box-shadow: 0px 0px 0px 0px white;
    scale: 1; }
  10% {
    box-shadow: 0px 0px 10px 10px white;
    scale: 1.1; }
  20% {
    box-shadow: 0px 0px 20px 20px white;
    scale: 1.2; }
  30% {
    box-shadow: 0px 0px 10px 10px white;
    scale: 1.1; }
  40% {
    box-shadow: 0px 0px 0px 0px white;
    scale: 1; }
  100% {
    box-shadow: 0px 0px 0px 0px white;
    scale: 1; } }

.tabla-2 {
  animation-delay: 3s; }

.tabla-3 {
  animation-delay: 6s; }

/* Historia */
.contenedor-info-historia {
  padding: 10rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.75rem; }
  .contenedor-info-historia p {
    font-family: 'David Libre';
    font-size: 2.5rem; }

/* Contacto */
.formulario {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.25rem 6.25rem; }
  .formulario h2 {
    font-family: 'Island Moments';
    font-size: 6rem;
    text-align: center; }
  .formulario form {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem; }
    .formulario form input {
      border-radius: 5px;
      background-color: rgba(171, 156, 137, 0.6);
      border: none;
      height: 4.0625rem;
      width: 33.75rem;
      font-size: 2.25rem;
      font-family: 'David Libre';
      padding: 20px; }
    .formulario form .consulta {
      padding-right: 5rem !important; }
    .formulario form button {
      width: 3.125rem;
      height: 3.125rem;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      position: relative;
      bottom: 6rem;
      left: 14rem; }
      .formulario form button img {
        width: 100%;
        height: 100%; }

footer {
  background-color: rgba(198, 123, 72, 0.35);
  height: 6.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25rem;
  font-family: 'Inter'; }
  footer .redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 30px; }
    footer .redes div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px; }
  footer .icon {
    width: 2.5rem;
    height: 2.5rem; }

.card {
  display: flex;
  height: 18.75rem; }
  .card img {
    width: 18.75rem;
    height: 100%; }
  .card .card-desc {
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    font-size: 2.25rem; }
    .card .card-desc p {
      color: #c67b48; }
    .card .card-desc ul {
      margin-left: 2.5rem; }

/* Breakpoint para "notebooks", Inicio */
@media (max-width: 1221px) {
  .contenedor-info-2 div h2 {
    font-size: 3.5rem; }
  /* Tablas */
  .tablas-info {
    height: 30rem; }
    .tablas-info div p {
      font-size: 3.5rem;
      padding: 7rem; }
  .galeria img {
    width: 18.75rem;
    height: 18.75rem; } }

@media (max-width: 1024px) {
  .navbar {
    font-size: 1.5rem; }
  .portada p {
    font-size: 7rem;
    text-shadow: black 5px 5px 5px;
    color: #d3b59e; }
  .contenedor-info h1 {
    font-size: 7rem; }
  .contenedor-info h2 {
    font-size: 2.5rem; }
  .contenedor-info-2 {
    height: 43.75rem; }
    .contenedor-info-2 div {
      flex-direction: column; }
      .contenedor-info-2 div h2 {
        font-size: 2.5rem;
        padding: 2rem;
        width: 100%;
        height: 30%; }
      .contenedor-info-2 div img {
        width: 100%;
        height: 70%;
        object-fit: contain; }
  .img1 {
    grid-area: img1; }
  .img2 {
    grid-area: img2; }
  .img3 {
    grid-area: img3; }
  .contenedor-imgs {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 15.625rem;
    justify-content: center;
    align-content: center;
    grid-template-areas: "img1 img2" "img3 img3";
    gap: 10px; }
    .contenedor-imgs .img3 {
      justify-self: center;
      align-self: center; }
  /* Mates */
  .contenedor-mates {
    flex-direction: column;
    height: 42rem; }
    .contenedor-mates h2 {
      padding: 3rem;
      font-size: 6.5rem;
      width: 100%;
      height: 30%; }
    .contenedor-mates img {
      width: 100%;
      height: 70%;
      object-fit: cover; }
  .card {
    height: 15rem; }
    .card img {
      width: 15rem; }
    .card .card-desc {
      font-size: 1.75rem; }
  /* Tablas */
  .contenedor-titulo-tablas {
    height: 15.625rem; }
    .contenedor-titulo-tablas h2 {
      font-size: 7rem; }
  .tablas-info {
    height: 28rem; }
    .tablas-info div p {
      font-size: 3rem;
      padding: 5rem; }
  .galeria img {
    width: 14rem;
    height: 14rem; }
  /* Historia */
  .contenedor-info-historia img {
    width: 16.25rem;
    height: 20.3125rem; }
  .contenedor-info-historia p {
    font-size: 2rem; }
  /* Contacto */
  .formulario {
    padding: 5rem 5rem;
    margin-bottom: 2.5rem; }
    .formulario h2 {
      font-size: 4.5rem; }
    .formulario form {
      gap: 2rem; }
      .formulario form input {
        height: 3.25rem;
        width: 27rem;
        font-size: 2rem;
        padding: 1rem; }
      .formulario form button {
        width: 2.5rem;
        height: 2.5rem;
        bottom: 4.9rem;
        left: 10.9rem; } }

@media (max-width: 833px) {
  .contenedor-info h1 {
    font-size: 6rem;
    padding: .5rem; }
  .contenedor-info h2 {
    font-size: 2rem;
    margin: 1rem;
    width: 90%; }
  .contenedor-info-2 div h2 {
    font-size: 2rem; }
  footer {
    font-size: 1rem; }
    footer .redes {
      gap: 10px; }
  /* Mates */
  .contenedor-mates {
    height: 100%; }
    .contenedor-mates h2 {
      font-size: 5.5rem; }
    .contenedor-mates img {
      object-fit: scale-down; }
  .card {
    height: 12rem; }
    .card img {
      width: 12rem; }
    .card .card-desc {
      font-size: 1.25rem; }
  /* Tablas */
  .contenedor-titulo-tablas {
    height: 13rem; }
    .contenedor-titulo-tablas h2 {
      font-size: 6rem; }
  .tablas-info {
    height: 24rem; }
    .tablas-info div p {
      font-size: 2.6rem;
      padding: 3rem; }
  .tabla-3 {
    display: none; } }

@media (max-width: 700px) {
  .navbar {
    height: 10rem; }
    .navbar ul {
      flex-direction: column; }
  .portada {
    display: none; }
  .contenedor-info {
    margin-top: 10rem; }
    .contenedor-info h1 {
      display: none; }
    .contenedor-info h2 {
      font-size: 1.5rem; }
    .contenedor-info img {
      height: 12rem;
      object-fit: none;
      overflow: hidden; }
  .contenedor-imgs {
    display: flex;
    flex-direction: column;
    gap: 10px; }
    .contenedor-imgs img {
      justify-self: center;
      align-self: center;
      width: 13rem;
      height: 13rem; }
  footer {
    font-size: 0.75rem; }
    footer .redes {
      flex-direction: column; }
    footer .icon {
      width: 1.5rem;
      height: 1.5rem; }
  /* Mates */
  .contenedor-mates {
    margin-top: 10rem; }
    .contenedor-mates h2 {
      display: none; }
  .cards {
    height: 100%; }
  .card {
    flex-direction: column-reverse;
    height: 100%;
    gap: 1.25rem; }
    .card img {
      width: 15rem;
      height: 15rem;
      align-self: center;
      justify-self: center; }
    .card .card-desc {
      margin-top: 0rem;
      margin-left: 0rem; }
  /* Tablas */
  .contenedor-titulo-tablas {
    display: none; }
  .tablas-info {
    margin-top: 10rem;
    height: 43.75rem; }
    .tablas-info div {
      flex-direction: column; }
      .tablas-info div img {
        width: 100%;
        height: 80%; }
      .tablas-info div p {
        width: 100%;
        height: 20%;
        font-size: 1.9rem;
        padding: 1.5rem; }
  .tabla-2 {
    display: none; }
  /* Historia */
  .contenedor-info-historia {
    margin-top: 10rem;
    padding: 5rem 2.5rem;
    gap: 3rem;
    height: 70vh; }
    .contenedor-info-historia img {
      width: 13rem;
      height: 16.25rem; }
    .contenedor-info-historia p {
      font-size: 1.5rem; }
  /* Contacto */
  .formulario {
    margin-top: 10rem;
    padding: 4rem 4rem; }
    .formulario h2 {
      font-size: 4rem; }
    .formulario form {
      gap: 1.7rem; }
      .formulario form button {
        bottom: 4.5rem; } }

@media (max-width: 555px) {
  .contenedor-info h1 {
    font-size: 5rem; }
  .contenedor-info h2 {
    font-size: 1.5rem;
    margin: 0.5rem; }
  .contenedor-info-2 div h2 {
    padding: 1.5rem; }
  /* Mates */
  .cards {
    padding: 4rem; }
  .card img {
    width: 12rem;
    height: 12rem; }
  .card .card-desc {
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1rem; }
  /* Tablas */
  .tablas-info {
    height: auto; }
    .tablas-info div img {
      object-fit: scale-down; }
    .tablas-info div p {
      font-size: 1.5rem;
      padding: 1.3rem; }
  .galeria {
    padding: 3rem 3rem; }
    .galeria img {
      width: 12rem;
      height: 12rem; }
  /* Historia */
  .contenedor-info-historia p {
    font-size: 1.3rem; }
  /* Contacto */
  .formulario {
    padding: 3rem 3rem;
    height: 65vh; }
    .formulario h2 {
      font-size: 3.2rem; }
    .formulario form {
      gap: 1.4rem; }
      .formulario form input {
        height: 2.625rem;
        width: 21.625rem;
        font-size: 1.5rem;
        padding: 0.7rem; }
      .formulario form button {
        width: 2rem;
        height: 2rem;
        bottom: 3.7rem;
        left: 9rem; } }

@media (max-width: 490px) {
  .contenedor-info-2 {
    height: 100%; }
    .contenedor-info-2 div img {
      object-fit: scale-down; }
  /* Mates */
  .card .card-desc {
    margin-top: 0.5rem;
    margin-left: 0.5rem; } }

@media (max-width: 475px) {
  .contenedor-info-2 div h2 {
    padding: 1rem; }
  /* Mates */
  .cards {
    padding: 3rem; }
  /* Tablas */
  .tablas-info div p {
    font-size: 1.3rem;
    padding: 1.1rem; }
  .galeria img {
    width: 10rem;
    height: 10rem; }
  /* Contacto */
  .formulario {
    padding: 2.5rem 2.5rem; }
    .formulario h2 {
      font-size: 2.7rem; }
    .formulario form {
      gap: 1.1rem; }
      .formulario form input {
        height: 2rem;
        width: 17.25rem;
        font-size: 1.2rem;
        padding: 0.5rem; }
      .formulario form button {
        width: 1.5rem;
        height: 1.5rem;
        bottom: 2.8rem;
        left: 7rem; } }

@media (max-width: 375px) {
  .navbar {
    font-size: 1rem;
    font-size: 1rem; }
  .contenedor-info h2 {
    font-size: 1rem; }
  .contenedor-info-2 div h2 {
    font-size: 1.25rem; }
  .contenedor-imgs img {
    width: 10rem;
    height: 10rem; }
  /* Historia */
  .contenedor-info-historia {
    padding: 2.5rem 1rem;
    gap: 1.7rem; }
    .contenedor-info-historia img {
      width: 10.375rem;
      height: 13rem; }
    .contenedor-info-historia p {
      font-size: 1rem; }
  /* Contacto */
  .formulario {
    padding: 1rem 1rem; }
    .formulario h2 {
      font-size: 2rem; }
    .formulario form {
      margin-top: 1.5rem;
      gap: 0.5rem; }
      .formulario form input {
        height: 1.6rem;
        width: 15rem;
        font-size: 0.6rem;
        padding: 0.3rem; }
      .formulario form button {
        width: 1rem;
        height: 1rem;
        bottom: 1.8rem;
        left: 6.3rem; } }
