@media (max-width:555px) {

	.contenedor-info {
		h1 {
			font-size: 5rem;
		}
		h2 {
			font-size: 1.5rem;
			margin: 0.5rem;
		}
	}
	
	.contenedor-info-2 {
		div {
			h2 {
				padding: 1.5rem;
			}
		}
		
	} 

	/* Mates */

	.cards {
		padding: 4rem;
	}

	.card {
		img {
			width: 12rem;
			height: 12rem;
		}
		.card-desc {
			margin-top: 2rem;
			margin-left: 2rem;
			font-size: 1rem;
		}
	}

	/* Tablas */
	.tablas-info {
		height: auto;
		div {
			img {
				object-fit: scale-down;
			}
			p {
				font-size: 1.5rem;
				padding: 1.3rem;
			}
		}
	}

	.galeria {
		padding: 3rem 3rem;
		img {
			width: 12rem;
			height: 12rem;
		}
	}

	/* Historia */
	.contenedor-info-historia {
		p {
			font-size: 1.3rem;
		}
	}

	/* Contacto */
	.formulario {
		padding: 3rem 3rem;
		h2 {
			font-size: 3.2rem;
		}
		form {
			gap: 1.4rem;
			input {
				height: 2.625rem;
				width: 21.625rem;
				font-size: 1.5rem;
				padding: 0.7rem;
			}
			button {
				width: 2rem;
				height: 2rem;
				bottom: 3.7rem;
				left: 9rem;
			}
		}
	}
}