@media (max-width:1024px) {

	.navbar {
		font-size: map-get($font-size, md);
	}

	.portada {
		p {
			font-size: 7rem;
			text-shadow: black 5px 5px 5px;
			color: rgba(211,181,158,1);
		}
	}

	.contenedor-info {
		h1 {
			font-size: 7rem;
		}
		h2 {
			font-size: 2.5rem;
		}
	}

	.contenedor-info-2 {
		height: 43.75rem;
		div {
			flex-direction: column;
			h2 {
				font-size: 2.5rem;
				padding: 2rem;
				width: 100%;
				height: 30%;
			}
			img {
				width: 100%;
				height: 70%;
				object-fit: contain;
			}
		}
	}

	.img1 {
		grid-area:img1;
	}

	.img2 {
		grid-area:img2;
	}

	.img3 {
		grid-area:img3;
	}


	.contenedor-imgs {
		@include grid(repeat(2,250px),15.625rem,center,center,"img1 img2""img3 img3",10px);
		.img3 {
			justify-self: center;
			align-self: center;
		}
	}
	
	/* Mates */
	.contenedor-mates {
		flex-direction: column;
		height: 42rem;
		h2 {
			padding: 3rem;
			font-size: 6.5rem;
			width: 100%;
			height: 30%;
		}
		img {
			width: 100%;
			height: 70%;
			object-fit:cover;
		}
	}

	.card {
		height: 15rem;
		img {
			width: 15rem;
		}
		.card-desc {
			font-size: 1.75rem;
		}
	}

	/* Tablas */
	.contenedor-titulo-tablas {
		height: 15.625rem;
		h2 {
			font-size: 7rem;
		}
	}
	
	.tablas-info {
		height: 28rem;
		div {
			p {
				font-size: 3rem;
				padding: 5rem;
			}
		}
	}

	.galeria {
		img {
			width: 14rem;
			height: 14rem;
		}
	}

	/* Historia */
	.contenedor-info-historia {
		img {
			width: 16.25rem;
			height: 20.3125rem;
		}
		p {
			font-size: 2rem;
		}
	}

	/* Contacto */
	.formulario {
		padding: 5rem 5rem;
		h2 {
			font-size: 4.5rem;
		}
		form {
			gap: 2rem;
			input {
				height: 3.25rem;
				width: 27rem;
				font-size: 2rem;
				padding: 1rem;
			}
			button {
				width: 2.5rem;
				height: 2.5rem;
				bottom: 4.9rem;
				left: 10.9rem;
			}
		}
	}
}