/* Breakpoint para "notebooks", Inicio */
@media (max-width:1221px) {
	.contenedor-info-2 {
		div {
			h2 {
				font-size: 3.5rem;
			}
		}
	}

	/* Tablas */
	.tablas-info {
		height: 30rem;
		div {
			p {
				font-size: 3.5rem;
				padding: 7rem;
			}
		}	
	}

	.galeria {
		img {
			width: 18.75rem;
			height: 18.75rem;
		}
	}
}