/*
	Paleta de colores:

	#FAE8D6
		rgba(250,232,214,1);
	#D3B59E
		rgba(211,181,158,1);
	#C67B48
		rgba(198,123,72,1);
	#AB9C89
		rgba(171,156,137,1);
	#CBD9B7
		rgba(203,217,183,1);
*/

$Paleta1:rgba(250,232,214,1);
$Paleta2:rgba(211,181,158,1);
$Paleta3:rgba(198,123, 72,1);
$Paleta4:rgba(171,156,137,1);
$Paleta5:rgba(203,217,183,1);

$Paleta3_2:rgba(198,123, 72,0.35);
$Paleta5_2:rgba(203,217,183,0.42);

