footer {
	background-color:$Paleta3_2;
	height: 6.5rem;
	@include flex(row,space-around,center);
	font-size: 1.25rem;
	font-family: 'Inter';
	.redes {
		@include flex(row,center,start);
		gap: 30px;
		div {
			@include flex(row,center,center);
			gap: 10px;
		}
	}
	.icon {
		width: 2.5rem;
		height: 2.5rem;
	}
}