b {
	color:$Paleta3;
}

b {
	animation-name: titulo;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 4s;
	animation-delay: 1s;
}

@keyframes titulo {
	0% {
		color: $Paleta3;
	}

	25% {
		color: $Paleta4;
	}

	45% {
		color: $Paleta5;
	}

	85% {
		color: $Paleta2;
	}

	100% {
		color: $Paleta3;
	}
}